<div class="min-h-screen bg-orange-50 flex items-center justify-center px-4">
  <div class="bg-white rounded-xl shadow-md w-full max-w-md p-8">
    <h2 class="text-2xl font-bold text-center text-gray-900 mb-2">
      {{ 'VERIFY.TITLE' | translate }}
    </h2>
    <p class="text-center text-gray-400 mb-6">
      {{ 'VERIFY.SUBTITLE' | translate }}
    </p>


    <form class="flex flex-col items-center gap-6">
      <div class="flex justify-center gap-3">
        <input type="text" maxlength="1"
          class="w-12 h-12 border border-gray-400 rounded-lg text-center text-xl focus:outline-none focus:ring-2 focus:ring-orange-400" />
        <input type="text" maxlength="1"
          class="w-12 h-12 border border-gray-400 rounded-lg text-center text-xl focus:outline-none focus:ring-2 focus:ring-orange-400" />
        <input type="text" maxlength="1"
          class="w-12 h-12 border border-gray-400 rounded-lg text-center text-xl focus:outline-none focus:ring-2 focus:ring-orange-400" />
        <input type="text" maxlength="1"
          class="w-12 h-12 border border-gray-400 rounded-lg text-center text-xl focus:outline-none focus:ring-2 focus:ring-orange-400" />
        <input type="text" maxlength="1"
          class="w-12 h-12 border border-gray-400 rounded-lg text-center text-xl focus:outline-none focus:ring-2 focus:ring-orange-400" />
        <input type="text" maxlength="1"
          class="w-12 h-12 border border-gray-400 rounded-lg text-center text-xl focus:outline-none focus:ring-2 focus:ring-orange-400" />
      </div>

      <button type="submit"
        class="bg-[#f0713f] text-white px-6 py-2 rounded-md font-semibold hover:bg-[#db6237] transition duration-200">
        {{ 'VERIFY.BUTTON' | translate }}
      </button>
    </form>
  </div>
</div>
